{
	"parser": "babel-eslint",
	"plugins": ["react", "prettier"],
	"rules": {
		"no-unused-vars": "off",
		"no-console": "off",
		"no-class-assign": "off",
		"react/prop-types": "off",
		"react/jsx-uses-react": "error",
		"react/jsx-uses-vars": "error",
		"prettier/prettier": "error"
	},
	"globals": { "_": true, "daum": true },
	"env": {
		"node": true,
		"browser": true,
		"commonjs": true,
		"es6": true,
		"jquery": true,
		"jasmine": true
	},
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"sourceType": "module"
	},
	"extends": ["eslint:recommended", "plugin:react/recommended", "plugin:prettier/recommended"]
}
