.storeImg {
	float: left;
	margin-right: 25px;
}

.storeWrapper::after {
	display: block;
	content: '';
	clear: both;
}

.storeWrapper {
	position: relative;
}

.desc {
	overflow: hidden;
}
.menuButton {
	position: absolute;
	right: 15px;
	bottom: 15px;
}
